
  
<div class="container">
  <div class="quote-bg">
  <h3 class="quote-title">My quotes</h3>
  
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="q-quote">
        <h4 class="list">MY LIST</h4>
      <div *ngFor="let quote of quotes;let i = index">
        <div>
          <p >{{quote.description}} </p>
          <button (click)='toggleDetails(i)' class="btn-btn-primary">Toggle </button>
        </div>
      <!--<div class="container"> -->
        <div >
          <app-quote-detail *ngIf='quote.showauthor' [quote]='quote' (isDelete) = 'deleteQuote($event,i)'>
          </app-quote-detail>
        </div>
      <!--</div> -->
      </div>
    </div>
  </div>
<!-- <div class="container"> -->
    <div class="col-md-6">
      <div>
        <h4></h4>
      <app-quote-form (add)="newQuote($event)"></app-quote-form>
    </div>
  <!-- </div> -->
</div>
  <p *ngIf='quotes.length' > </p>
</div>
</div >
